body {
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}


body>h1,body>p{
  text-align: center;
}

a {
  color: #00B7FF;
}
.nav{
  background-color: #212529;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav>a{
  color: #198754;
  padding: 10px;
}