
#nav{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    border-radius: 10px;
}

#logo {
    width: 100px;

}

#container{
    margin-top: 50px;
}

#bouton {
    float: right;
}